<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>T-Mail</title>
    <th:block th:include="head::head_link" />
</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a th:href="admin-index">T-Mail</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a>Tomax<span class="layui-nav-more"></span></a>
                <ul class="layui-nav-child">
                    <li><a onclick="logout()">退出</a></li>
                </ul>
            </li>
            <!--<li class="layui-nav-item to-index"><a id="indexAdmin" href="http://tomax.xin">前台首页</a></li>-->
        </ul>

    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
            <ul id="nav">
                <li>
                    <a _href="javascript:;">
                        <i class="iconfont"></i>
                        <cite>写信</cite>
                    </a>
                </li>
                <li>
                    <a _href="javascript:;">
                        <i class="iconfont"></i>
                        <cite>收件箱</cite>
                    </a>
                </li>
                <li>
                    <a _href="javascript:;">
                        <i class="iconfont"></i>
                        <cite>已发送</cite>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2019 T-Mail v0.9 All Rights Reserved</div>
    </div>
    <!-- 底部结束 -->
</body>
    <th:block th:include="foot::foot_js" />
    <script>
        function logout() {
            window.location.href = HOST + '/logout'
        }
    </script>
</html>