<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="head::head_link" />
</head>

<body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎<span id="weluname"></span>, 当前时间:
            <span id="now_time">2018-04-25 20:50:53</span>  &nbsp;&nbsp;有<span id="unreadNum"></span>封邮件未读, <a _href="mail-read.html" style="cursor: pointer">前往阅读</a>
        </blockquote>
        <fieldset class="layui-elem-field">
            <legend>邮件数据一览</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this">
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>收件箱</h3>
                                                <p>
                                                    <cite id="receiveNum"></cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>发送数</h3>
                                                <p>
                                                    <cite id="sendNum"></cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <blockquote class="layui-elem-quote layui-quote-nm">感谢jquery,layui,echarts,editormd 本系统由x-admin提供技术支持。</blockquote>
    </div>
</body>
    <th:block th:include="foot::foot_js" />
    <script th:inline="javascript">
        update_current_time()
        setInterval(update_current_time, 500)

        function update_current_time() {
            var current_date = new Date()
            var time_content = ''
            var year = current_date.getFullYear()
            var month = current_date.getMonth() + 1
            var day = current_date.getDate()
            var hour = current_date.getHours() + ':'
            if (hour.length < 3) hour = '0' + hour
            var minute = current_date.getMinutes() + ':'
            if (minute.length < 3) minute = '0' + minute
            var second = current_date.getSeconds()
            time_content += year + '-' + month + '-' + day + ' ' + hour + minute + (second < 10 ? '0' + second : second)
            $('#now_time').html(time_content)
        }

        var username = [[${session.username}]]
        $('#weluname').html(username)

        $.get(HOST + '/mail/count/data', result => {
            $('#sendNum').html(result.data.sendNum)
            $('#receiveNum').html(result.data.receiveNum)
            $('#unreadNum').html(result.data.unreadNum)
        })
    </script>
</html>